
.carrousel {
    width: 90%;
    max-width: 120em;
    background-color: lightskyblue;
}
.carrousel .grande {
    width: 200%;
    background-color: orange;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.carrousel .img {
    width: calc(100% / 2);
    background-color: aquamarine;
}

.carrousel .puntos {
    width: 100%;
    background-color: red;
    padding: 1em;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.carrousel .punto {
    width: 2em;
    height: 2em;
    background-color: blue;
    margin: 1em 0 0;
}