#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  justify-content: center;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* NUEVO CSS */

.Nav {
  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2em;

}
.Nav-a{
  border: 1px solid lightgrey;
  padding: 0.5em 1em;
  border-radius: 10px;
}

.Card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center ;
  gap: 2em;
  padding: 1em 1em;

}

.Card-charac {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  
  border: 1px solid lightgrey;
  box-shadow: 5px 5px 1px lightgray;
  border-radius: 10px;
  padding: 1.2em;
  
  transition: all .5s ease ;
}

.Card-charac:hover {
  transform: scale(1.05);
  background-color: rgb(189, 179, 211);
}

.Card-charac h3 {
  font-weight: 800;
}

/* .Card-charac p {
  font-style: italic;
} */

.Card-charac img {
  border-radius: 10px;
  border: 2px solid rgb(123, 123, 123);
}

.Card-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.Filter-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.Filters-nav{
  display: flex;
  flex-direction: row;
  gap: 10px;

}